.add_button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  width: 56px;
  height: 56px;

  right: 28px;
  bottom: 28px;

  border-radius: 50%;

  background: red;

  color: white;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);

  cursor: pointer;

  transition: all 250ms ease;

  z-index: 50;
}

.add_button:hover {
  transform: scale(1.1, 1.1);
}

.add_button:active {
  background: darkred;
}