.image01 {
    position: absolute;

    top: 0;
    left: 0;
    width: 1000px;
    height: 677px;

    background: url('../images/teaser_01.jpg');
    background-size: 1000px 667px;
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.0;
}

.image02 {
    position: absolute;

    top: 0;
    left: 0;
    width: 1000px;
    height: 677px;

    background: url('../images/teaser_02.jpg');
    background-size: 1000px 667px;
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.0;
}

.image03 {
    position: absolute;

    top: 0;
    left: 0;
    width: 1000px;
    height: 677px;

    background: url('../images/teaser_03.jpg');
    background-size: 1000px 667px;
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.0;
}

.image04 {
    position: absolute;

    top: 0;
    left: 0;
    width: 1000px;
    height: 677px;

    background: url('../images/teaser_04.jpg');
    background-size: 1000px 667px;
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.0;
}